@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&family=Ubuntu:wght@300&display=swap');



/*Body stuff*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family:'Slabo 27px', serif; 
    background-color: rgb(209, 199, 199);
}
h1{
font-family: 'Ubuntu', sans-serif;
}
p{
    font-size: 20px;
}
h2{
    font-size: 18px;
}
button{
    background-color: rgb(88, 221, 88);
    color: whitesmoke;






    
}
/*Footer*/
footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    bottom: 0px;
    width: 100%;
    background-color: white;
    
    
}


}

footer p {
    padding: 20px 10px;
}

footer i {
    padding-left: 40px;
}







.box h2{
font-size: 1.125rem;
font-weight: 600;
text-transform: uppercase;
}

.box .content{
margin: 20px 0 0 0;
}







/*Body stuff ends*/


/*Nav-bar*/




































/*Mediaquery-Front-ends*/


/*Mediaquery-about*/




















/*Mediaquery for desktop*/
@media only screen and   (min-width: 414px)  


body{

    margin: 10px;
}    
p, a{
    font-size: 18px;
}




/*Navbar-end */


/*STILL-MEDIAQUERIES*/



/*Mediaquery-Front*/



h2{
    font-size: 19px;
}


.heroFront {
    max-width: ;
    
}








/*Mediaqueries end*/


















