@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&family=Ubuntu:wght@300&display=swap');



/*Body stuff*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a {
    color: white;
}

nav {
    display: flex;
    background-color: black;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

ul {
    display: flex;
}

li {
    padding: 0 10px;
}

.heroImg {
    width: 100vw;
}


.icon-front{
   display: flex;
   flex-wrap: wrap;
   max-width: 300px;
   margin: 30px auto;
}

.icon-front h3 {
    text-align: center;
}

.p-between{
    background-color: black;
    color: white;
    margin: 20px 0; 
    padding: 10px;
}


.h1-front{
    color: white;
    background-color: unset;
}

.pic-front{

}
.pic2-front{
    width: 70vw;
}

.icon {
    margin: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}



body{
    font-family:'Slabo 27px', serif; 
    background-color: #bcbfbe;
}
h1, h2, h3,{
    font-family: 'Ubuntu', sans-serif;                                    
}

p{
    font-size: 20px;
}
h2{
    font-size: 18px;
}
button{
    background-color: rgb(88, 221, 88);
    color: whitesmoke;
}




























/*Footer*/
footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    bottom: 0px;
    width: 100%;
    background-color: white;
    
    
}


}

footer p {
    padding: 20px 10px;
}

footer i {
    padding-left: 40px;
}















/*Body stuff ends*/


/*Nav-bar*/




































/*Mediaquery-Front-ends*/


/*Mediaquery-about*/




















/*Mediaquery for desktop*/
@media only screen and   (min-width: 414px)  


body{

    margin: 10px;
}    
p, a{
    font-size: 18px;
}




/*Navbar-end */


/*STILL-MEDIAQUERIES*/



/*Mediaquery-Front*/



h2{
    font-size: 19px;
}


.heroFront {
    max-width: ;
    
}








/*Mediaqueries end*/


















